/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* Background */
body {
    background-color: #f4f6f8; /* Soft Gray */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Container style */
form {
    background-color: #ffffff; /* White */
    padding: 30px;
    border-radius: 10px;
    width: 350px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* Title */
h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e3a5f;
}


/* Labels */
label {
    color: #1e3a5f;
    font-weight: 500;
    font-size: 14px;
}

/* Inputs */
input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    transition: 0.3s;
}

/* Input focus effect */
input:focus {
    outline: none;
    border-color: #1e3a5f;
    box-shadow: 0 0 5px rgba(30,58,95,0.3);
}

/* Button */
button {
    width: 100%;
    padding: 12px;
    background-color: #1e3a5f; /* Dark Blue */
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 15px;
    transition: 0.3s;
}

/* Button hover */
button:hover {
    background-color: #16324d;
}
